* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--bg-color: #0ebff5;
}

body {
	background-color: var(--bg-color);
	overflow-x: hidden;
}

.main {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.main__body input {
	background-color: var(--bg-color);
}

.flex {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.flex > * {
	width: 90%;
	margin: 0 auto;
}

.child {
	background-color: blueviolet;
	border: 2px solid red;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.child:nth-of-type(3) {
	background-color: royalblue;
}
