<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Yo</title>

		<link rel="stylesheet" href="./style.css" />
	</head>

	<body>
		<div class="game">
			<div class="front">
				<img
					loading="lazy"
					src="https://nerdiertides.files.wordpress.com/2016/07/watch-dogs-ubisoft-cover-art.jpg"
					alt="watch dogs"
				/>
				<h2>Watch Dogs</h2>

				<div class="stats">
					<p class="viewrs">539.9k</p>
					<div class="streamers">
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
			</div>
			<div class="back">
				<div class="musk">
					<div class="info">
						<p class="game-stat"><span>539.9k</span>Watching</p>
						<p class="game-stat"><span>28.3k</span>Streams</p>
					</div>
					<button>See more streams</button>
					<div class="streamers">
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
