@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: 'Noto Serif', serif;
	/* background-color: #18191a;
	color: #dddfe3; */
	overflow-x: hidden;
}

li,
ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}
